.imagebox__box1 {
  width: 34vh;
  height: 48vh;
  border: 1px solid blue;
  margin-left: 700px;
  float: left;
}

.imagebox__box2 {
  width: 34vh;
  height: 48vh;
  margin: 0 0 0 0;
  border: 1px solid blue;
}
// 345, 485